@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

$cash: #ffea00;

:root {
    --cash: #ffea00;
    --cash-2: #e0cf0d;
}

* { padding: 0; margin: 0; box-sizing: border-box; scroll-behavior: smooth; }

html, body, #app {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
    color: white;
    position: relative;

    overflow-x: hidden;
}

.flex-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

input, button {
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    border: none;
}
button {
    cursor: pointer;
    background-color: #ccc;
}
button:hover {
    filter: brightness(92%);
}
button:disabled {
    pointer-events: none;
    filter: brightness(70%);
}

.cash {
    color: $cash;
}
.bi-coin {
    cursor: auto;
    color: $cash;
    font-style: normal;
    padding-left: 10px;
}
.bi-coin::before {
    padding-right: 3px;
    position: relative;
    top: 1px;
}

canvas {
    image-rendering: crisp-edges;
}

.hint {
    color: #bbb;
}

a {
    color: rgb(0, 104, 156)
}

@media only screen and (max-width: 1000px) {
    .flex-page {
        padding-top: 4rem !important;
    }
}